/* Font Colors */
$base-font-size:15px;
$base-font-family:"Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
$base-font-color:#626262;

/* Bg Colors */
$primary-color:#cf1a2b;
$secondary-color:#05b5a9;
$light-color:#e4eef2;
$dark-color:#1d1d1d;


/*  Showcase area */

$showcase-height:400px;
$showcase-image: '../img/showcase.jpg';