/* Headings */

.section-circles h1{
	text-align:center;
	color:  #ffffff;
	font-size: 116.05px;
	font-weight: 400;
	line-height: 19.72px;
}

footer h3{
	display:inline-block;
}

/* Brand colors */

.z-1{
	color:#05b5a9;
}
.z-2{
	color:#fec8ce;
}