@media(max-width:768px){
	.banner{
		height:300px;
	}
	.nav{
		padding-left:0 !important;

		.btn-group, button{
			width:100%;
			text-align:left;
		}

		li:hover{
				background-color:$primary-color !important;
				color:lighten($base-font-color,20%) !important;	
		}
	} 

	.rings{
		height:230px !important;
	}

	.levis-hide img{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
}