/* navbar */

.navbar {

	box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.31);
	min-height:86px;
	background:#fff;
	margin-bottom:30px;

	a{
		min-height:86px;
		color:$base-font-color !important;
		font-size: 18px;
		font-weight: 400;
		line-height: 19.72px;
		padding-bottom:34px !important;
		padding-top:34px !important;
	}

	.brand{
	font-size: 38px;
	font-weight: 700;
	line-height: 19px;
	}

	.nav{
		padding-left:16%;
	}
}

.dropdown-toggle{
	height:88px !important;
	border:0;
	@include border-radius(0);
	font-size: 18px;
	font-weight: 400;
	line-height: 19.72px;
	padding-bottom:34px !important;
	padding-top:34px !important;
	color:$base-font-color;
}

.dropdown-toggle:hover, .dropdown-toggle:focus{
	background-color:$primary-color !important;
	color:lighten($base-font-color,20%) !important;	
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-toggle {
	background-color:$primary-color !important;
	color:lighten($base-font-color,20%) !important;
}




.dropdown-menu{
	width: 606px;
	height: 384px;
	background-color:  #cf1a2b;
	border-radius:0;
	margin-top:-1.5px;
	@include add-border(1px, #cccccc, all);
	padding:0;

	a, a:hover{
		color:#ffffff !important;
		text-decoration:none;
	}

	ul{
		list-style:none;
		height:100%;
		@include add-border(1px, #cccccc, right-left);
		padding:0;
	}

	img{
		margin-top:80px;
		margin-left:55px;
		margin-right:auto;
	}
	li{
		padding:10px;
	}

	.divide{
	@include add-border(1px, #cccccc, bottom);
	text-align:center;
	padding:25px 10px;

		a{
			font-size: 38px;
			font-weight: 700;
			line-height: 19px;
		}
	}

}