* {
    margin:0px;
    padding:0px;
}
header {
background: #aaa url(../img/layer13.png) no-repeat;
width: 100%;
height: 688px;
text-align:right;
background-size:100%;
}
.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display:inline-block;
    margin:71px 104px;
}

.main-menu li {
    display: inline-block;
    margin-right: 5px;
    text-align:center;
}

.main-menu a {
    display: block;
    padding: 8px 10px;
    color: #0088cc;
    text-decoration:none;
    font-family: Montserrat;
color:  #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: left;
text-align:center;
}
li.active {
border-radius: 5px;
background-color:  #130e27;
width: 85px;
height: 37px;
}
.logo {
    float:left;
    background: url(../img/Logo.png);
    width:289px;
    height:94px;
    margin:38px 84px;
}
.sell {
    background: url(../img/sell.png) no-repeat;
    width:483px;
    height:146px;
    float:left;
    margin-left:102px;
    margin-top:132px;
}
.form {
border-radius: 5px;
background-color:  #ffffff;
box-shadow: 2px 4px 31.92px 6.08px rgba(137, 137, 137, 0.71);
width: 400px;
height: 545px;
display:inline-block;
position:absolute;
right:104px;
top:253px;
}
.request {
    background: url(../img/request.png) no-repeat;
    width: 208px;
    height: 19px;
    display:inline-block;
    margin-top: 33px;
    margin-left: 86px;
    margin-right: 106px;
    margin-bottom:37px;
}
.accept {
    font-family: PTSerif;
color:  #130e27;
font-size: 20px;
font-weight: 400;
line-height: 25px;
text-align: left;
display:inline-block;
margin-left: 23px;
}
.text {
    display:inline-block;
    border-radius: 5px;
background-color:  #eeeeee;
width: 334px;
height: 57px;
 font-family: Montserrat;
color:  #ffffff;
font-size: 22px;
font-weight: 400;
text-align: center; 
padding-left:19px;
margin-bottom:16px;
margin-left:24px;
margin-right:23px;
}
.check {
    display:inline-block;
    margin-top:26px;
    margin-left:27px;
    margin-right:64px;
}
.button {
    display:inline-block;
    border-radius: 5px;
background-color:  #c62314;
width: 353px;
height: 57px;
margin-left:24px;
margin-right:23px;
margin-top:20px;
margin-bottom:28px;
font-family: Montserrat;
color:  #ffffff;
font-size: 22px;
font-weight: 400;
text-align: center;
}
input::-webkit-input-placeholder {
  font-family: PTSerif;
color:  #b5b5b5;
font-size: 20px;
font-weight: 400;
line-height: 25px;
text-align: left;  
}
.text1 {
    position:absolute;
    font-family: PTSerif;
color:  #ffffff;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: left;
margin-top:315px;
margin-right:128px;
margin-left:102px;
}
.services {
    width:100%;
    height:480px;
    padding-bottom: 68px;
}
.title {
    display:inline-block;
    background: url(../img/services.png) no-repeat;
    background-position:100px;
    width:100%;
    height: 37px;
    margin-top:45px;
}
.icon {
    display:flex;
    justify-content: space-around;
    margin-top:80px;
}
.pic1 {
background: url(../img/Shape108.png) no-repeat;
width: 163px;
height: 142px;
display:inline-block;

}
.pic2 {
background: url(../img/Shape127.png) no-repeat;
width: 137px;
height: 137px;
display:inline-block;

}
.pic3 {
background: url(../img/Shape106.png) no-repeat;
width: 116px;
height: 155px;
display:inline-block;

}
.pic4 {
background: url(../img/Shape97.png) no-repeat;
width: 150px;
height: 150px;
display:inline-block;
}
.desc {
    display:flex;
    justify-content: space-around;
    margin-top:40px;
    font-family: PTSerif;
color:  #161616;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: center;

}
.desc1 {
        width: 168px;
        height: 43px;
}
.desc2 {
        width: 165px;
        height: 43px;
}
.desc3 {
        width: 165px;
        height: 47px;
}
.desc4 {
        width: 162px;
        height: 43px;
}
.story {
background-color:  #130e27;
width: 100%;
height: 123px;
display:flex;
justify-content: space-around;
align-items: center;
}
.business {
    font-family: PTSerif;
color:  #ffffff;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: left;
}
.our_story {
    border-radius: 5px;
background-color:  #c62314;
width: 269px;
height: 64px;
font-family: Montserrat;
color:  #ffffff;
font-size: 22px;
font-weight: 400;
line-height: 28px;
text-align: center;
}
.pricelist {
    background-color:  #efefef;
    width: 100%;
    height: 630px;
}
.pricing {
    display:inline-block;
    background: url(../img/pricing.png) no-repeat;
    background-position:50% 50%;
    width:100%;
    height:37px;
    margin:65px auto;
}
.prices {
    display:flex;
    justify-content: space-around;
    max-width: 80%
    margin:62px auto;

}
.prc1 {
    border-radius: 5px;
background-color:  #ffffff;
width: 318px;
height: 450px;
text-align: center;
}
.prc2 {
    border-radius: 5px;
background: url(../img/layer3.png) no-repeat;
background-color:  #ffffff;
width: 318px;
height: 450px;
text-align: center;
}
.prc3 {
    border-radius: 5px;
background-color:  #ffffff;
width: 318px;
height: 450px;
text-align: center;
}
.prices h2 {
    font-family: PTSerif;
color:  #161616;
font-size: 22px;
font-weight: 400;
line-height: 28px;
text-align: center;
padding-top:36px;
}
.prices h3 {
    font-family: Montserrat;
color:  #c62314;
font-size: 60px;
font-weight: 700;
line-height: 80px;
text-align: center;
margin-top:40px;
margin-bottom:33px;
}
.prices p {
 font-family: PTSerif;
color:  #161616;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: center;
}
.sign {
border-radius: 4px;
background-color:  #130e27;
width: 205px;
height: 49px;
font-family: Montserrat;
color:  #ffffff;
font-size: 22px;
font-weight: 400;
line-height: 28px;
text-align: center;
margin-top:37px;
}
.pay {
 border-radius: 4px;
background-color:  #c62314;
width: 205px;
height: 49px;
font-family: Montserrat;
color:  #ffffff;
font-size: 22px;
font-weight: 400;
line-height: 28px;
text-align: center; 
margin-top:37px;   
}
.pop {
    display:inline-block;
    margin-top:10px;
    float:left;
    font-family: PTSerif;
color:  #1f1f1f;
font-size: 16px;
font-weight: 400;
line-height: 28px;
transform: rotate(-47.359deg);
}
.prc2 h2 {
    margin:auto;
    width:70%;
}
.gallery {
    display:flex;
    height:600px;
    justify-content: space-around;
}
.testimonial, .pics {
    margin-top:155px;
    text-align: center;
    height:720px;
    width:500px;
}
.test, .gal {
    display:inline-block;
}
.work {
    position: relative;
    padding-left: 26px;
    padding-top: 26px;
    margin-top:34px;
    font-family: PTSerif;
color:  #161616;
font-size: 20px
font-weight: 400;
line-height: 28px;
text-align: left;
}
.dj {
    font-family: Montserrat;
color:  #130e27;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: left;
margin-top:25px;
padding-left: 26px;

}
.inv {
    font-family: PTSerif;
color:  #c62314;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: left;

}
.grey {
    position: relative;
    margin-top: 64px;
    padding-left: 26px;
    padding-top: 26px;
    border-radius: 5px;
background-color:  #efefef;
width: 439px;
height: 142px;
}
.grey .dj {
    padding-left: 0px;
}
.image {
    position: absolute;
    right:-60px;
    top:15px;
}
.white {
    border-radius: 5px;
width: 469px;
height: 142px;
}
.pictures {
width: 500px;
margin-top:50px;

}
.pictures div {
    display:inline-block;
}
h5 {
    text-align: center;
    font-family: Montserrat;
color:  #130e27;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-decoration: underline;
margin-top:46px;
}
h5 a {
 font-family: Montserrat;
color:  #130e27;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-decoration: underline;   
}
footer {
    margin-top:120px;
    border-radius: 5px;
background-color:  #130e27;
width: 100%;
height: 183px;
}
.copy {
    display: inline-block;
    font-family: PTSerif;
color:  #ffffff;
font-size: 20px;
font-weight: 400;
line-height: 22px;
text-align: center;
margin-top:80px;
margin-left:86px;
}
.copy span {
    color:  #c62314;
}
.img-copy {
    float:right;
    margin-right: 100px;
    margin-top: 63px;
}
